#photos{
    display: flex;
}


.conteudo{
    text-align: center;
    margin-inline:auto;
    justify-content: center;

}

.conteudo > h2 {
    margin-bottom: 100px;
}

hr {
    border: none;
    margin-bottom: 50px;
}

.conteudo > img{
    height: 567.5px;   
}



