#photos {
    padding: 20px;
    position: relative;
}

.desktop-photos {
    display: flex;
    justify-content: center;
    position: absolute;
}

.desktop-photos > img {
    
    z-index: -1;
    opacity: 50%;
}

.conteudo {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
}

.conteudo img {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    border-radius: 10px; 
}


@media (max-width: 768px) {
    .conteudo img {
        max-width: 100%;
    }
}

hr {
    border: none;
    margin-bottom: 50px;
}

#photos > h2 {
    margin-bottom: 100px;
    text-align: center;
}